* {
  font-size: 12px;
}

a {
  font-size: 14px;
  color: blue;
  text-decoration: none;
}

#twitter-login {
  background: #3588cc;
  margin: 20px;
  padding: 20px;
  color: white;
  display: none;
}

#content {
  width: 400px;
}

#tweets {
  width: 380px;
}

#tweets > .tweet {
  width: 350px;
  padding: 10px;
}

#tweets > .tweet > .tweet-icon {
  float: left;
  width: 50px;
}

#tweets > .tweet > .tweet-detail {
  float: right;
  width: 280px;
  margin: 10px;
}

#tweets > .tweet > .tweet-detail > pre {
  word-wrap: break-word;
  line-height: 18px;
  margin: 5px 0px;
}

#tweets > .tweet > .tweet-info {
  float: right;
  padding: 5px 0px;
}

#tweets > .tweet > .tweet-info > ul {
  padding-left: 0px;
}

#tweets > .tweet > .tweet-info > ul > li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

#tweets > .tweet > .tweet-info > ul > li > a {
  font-size: 12px;
}

#tweets > .tweet > .retweet-info {
  float: right;
}

.retweet-icon {
  width: 18px;
  height: 14px;
  margin: 0px 5px;
  display: inline-block;
  vertical-align: text-top;
  background-image: url(https://si0.twimg.com/a/1344029401/t1/img/twitter_web_sprite_icons.png);
  background-position: -60px -350px;
}

.clearfix {
  clear: both;
  content: "";
  display: block;
}
